@page "/pokedex"
@rendermode InteractiveServer
@inject PokeApiService PokeService

@using MudBlazor
@using OmniDex.Services
@using OmniDex.Models


<MudText Typo="Typo.h3" GutterBottom="true">Pokedex</MudText>

<MudTextField T="string"
              @bind-Value="searchTerm"
              Label="Search Pokémon..."
              Variant="Variant.Outlined"
              Adornment="Adornment.Start"
              AdornmentIcon="@Icons.Material.Filled.Search"
              Immediate="true"
              Class="mb-4" />

@if (!_fullPokemonList.Any())
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid Spacing="2">
        @foreach (var pokemon in FilteredPokemon)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <MudCard Elevation="2" Class="pokemon-card-link">
                    <a href="/pokemon/@pokemon.Name" style="text-decoration: none;">
                        <MudCardMedia Image="@GetPokemonImageUrl(pokemon.Url)" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h6" Align="Align.Center" Style="text-transform: capitalize;">@pokemon.Name</MudText>
                        </MudCardContent>
                    </a>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}


@code {
    private List<PokemonResult> _fullPokemonList = new();
    private string searchTerm = string.Empty;

    private List<PokemonResult> FilteredPokemon
    {
        get
        {
            if (string.IsNullOrWhiteSpace(searchTerm))
            {
                return _fullPokemonList;
            }
            return _fullPokemonList
                .Where(p => p.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _fullPokemonList = await PokeService.GetPokemonListAsync() ?? new List<PokemonResult>();
    }

    private string GetPokemonImageUrl(string pokemonUrl)
    {
        var pokemonId = pokemonUrl.TrimEnd('/').Split('/').Last();
        // Use higher quality sprites
        return $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{pokemonId}.png";
    }
}